* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

.rq-btn-wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.rq-btn-wrap button:first-child {
    margin-bottom: 10px;
}

.rq-indictor {
    opacity: 0;
    transition: opacity .3s linear;
    pointer-events: none; 
    overflow: hidden;
}

.rq-indictor.show{
    opacity: 1;
}

.rq-indictor-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 4vw;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, .7);
    border-radius: 5px;
    color: #fff;
}

.rq-indictor-spin {
    display: inline-block;
    text-align: center;
}

.rq-indictor-snake {
    display: inline-block;
    width: 8.533333vw;
    height: 8.533333vw;
    border: 1.066667vw solid transparent;
    border-top-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-radius: 50%;
    animation: rq-spinner-rotate .8s infinite linear;
    -webkit-animation: rq-spinner-rotate .8s infinite linear;
}

.rq-indictor-text {
    margin-top: 1vw;
    font-size: 16px;
}

.rq-indictor-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: transparent;
}

@keyframes opa-trans {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes opa-trans {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rq-spinner-rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }
}

@-webkit-keyframes rq-spinner-rotate {
    0% {
        transform: rotate(0);
    }

    100%  {
        transform: rotate(1turn);
    }
}

/* 点状加载 */

.rq-spin-fade-circle-wrap {
    position: relative;
    width: 8.533333vw;
    height: 8.53333vw;
}

.rq-spin-fade-circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.rq-spin-fade-circle:before {
    display: block;
    content: '';
    margin: 0 auto;
    width: 15%;
    height: 15%;
    border-radius: 100%;
    animation: rq-fade-circle 1.2s infinite ease-in-out both;
    -webkit-animation: rq-fade-circle 1.2s infinite ease-in-out both;
    background-color: #ccc;
}

.rq-circle-1 {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
}

.rq-circle-1:before {
    animation-delay: -1.1s;
    -webkit-animation-delay: -1.1s;
}

.rq-circle-2 {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.rq-circle-2:before {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.rq-circle-3 {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.rq-circle-3:before {
    animation-delay: -.9s;
    -webkit-animation-delay: -.9s;
}

.rq-circle-4 {
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
}

.rq-circle-4:before {
    animation-delay: -.8s;
    -webkit-animation-delay: -.8s;
}

.rq-circle-5 {
    transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
}

.rq-circle-5:before {
    animation-delay: -.7s;
    -webkit-animation-delay: -.7s;
}

.rq-circle-6 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.rq-circle-6:before {
    animation-delay: -.6s;
    -webkit-animation-delay: -.6s;
}

.rq-circle-7 {
    transform: rotate(210deg);
    -webkit-transform: rotate(210deg);
}

.rq-circle-7:before {
    animation-delay: -.5s;
    -webkit-animation-delay: -.5s;
}

.rq-circle-8 {
    transform: rotate(240deg);
    -webkit-transform: rotate(240deg);
}

.rq-circle-8:before {
    animation-delay: -.4s;
    -webkit-animation-delay: -.4s;
}

.rq-circle-9 {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

.rq-circle-9:before {
    animation-delay: -.3s;
    -webkit-animation-delay: -.3s;
}

.rq-circle-10 {
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
}

.rq-circle-10:before {
    animation-delay: -.2s;
    -webkit-animation-delay: -.2s;
}

.rq-circle-11 {
    transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
}

.rq-circle-11:before {
    animation-delay: -.1s;
    -webkit-animation-delay: -.1s;
}

.rq-circle-12 {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}


@keyframes rq-fade-circle{
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes rq-fade-circle{
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
