/* 标题 */
.rq-demo-nav-title {
    text-align: center;
    line-height: 44px;
    font-size: 16px;
    background-color: #fff;
}
/* 标题结束 */

/* 包裹层 */
.rq-demo-section {
    min-height: calc(100vh - 44px);
    padding-bottom: 20px;
}
/* 包裹层结束 */

/* 区域包裹层 */
.rq-demo-block {
    /* padding: 0 16px; */
}

.rq-demo-block:first-of-type .rq-demo-block-title {
    padding-top: 20px;
}
/* 区域包裹层结束 */

/* 区域包裹层标题 */
.rq-demo-block-title {
    color: rgba(69, 90, 100, .6);
    padding: 32px 16px 16px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
/* 区域包裹层标题结束 */

.rq-row {
    padding: 0 16px;
}

.rq-row:after {
    display: table;
    clear: both;
    content: '';
}
/* icon */

.rq-icon {
    display: inline-block;
}

.rq-icon-left-icon,
.rq-icon-right-icon {
    min-width: 1em;
    height: 24px;
    line-height: 26px;
    font-size: 20px;
}

.rq-icon-left-icon {
    margin-right: 3px;
}

.rq-icon-right-icon {
    margin-left: 3px;
    color: #969799;
}

.rq-icon-right-icon.rq-icon-right-icon-down {
    transform: rotate(90deg);
}

/* icon结束 */

/* 细边框(四边) */

.rq-hairline {
    position: relative;
}
.rq-hairline:after {
    position: absolute;
    content: '';
    pointer-events: none;
    top:-50%;
    right: -50%;
    left: -51%;
    bottom: -50%;
    transform: scale(.5);
    border: 0 solid #ebedf0;
}

.rq-hairline-surround:after {
    border-width: 1px;
}
/* 细边框结束 */

/* 加载中 */
.rq-loading {
    font-size: 0;
    pointer-events: none;
    color: #c8c9cc;
}

.rq-loading-spinner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    max-width: 100%;
    max-height: 100%;
    animation: rq-rotate .8s linear infinite;
}

/* 加载中的圆边框 */
.rq-loading-circle {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1.5px solid #fff;
    border-top-color: transparent;
}
/* 加载中的圆边框结束 */

/* 花瓣形loading */
.rq-loading-spinner-spinner {
    animation-timing-function: steps(12);
    -webkit-animation-timing-function: steps(12); /* 一个动画周期，动画分12次完成，每次旋转30度*/
}

.rq-loading-spinner-spinner i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rq-loading-spinner-spinner i:before {
    display: block;
    width: 2px;
    height: 25%;
    margin: 0 auto;
    background-color: currentColor;
    border-radius: 40%;
    content: '';
}

.rq-loading-spinner-spinner i:nth-of-type(1) {
    transform: rotate(30deg);
    opacity: 1;
}

.rq-loading-spinner-spinner i:nth-of-type(2) {
    transform: rotate(60deg);
    opacity: 0.9375;
}

.rq-loading-spinner-spinner i:nth-of-type(3) {
    transform: rotate(90deg);
    opacity: 0.875;
}

.rq-loading-spinner-spinner i:nth-of-type(4) {
    transform: rotate(120deg);
    opacity: 0.8125;
}

.rq-loading-spinner-spinner i:nth-of-type(5) {
    transform: rotate(150deg);
    opacity: 0.75;
}

.rq-loading-spinner-spinner i:nth-of-type(6) {
    transform: rotate(180deg);
    opacity: 0.6875;
}

.rq-loading-spinner-spinner i:nth-of-type(7) {
    transform: rotate(210deg);
    opacity: 0.625;
}

.rq-loading-spinner-spinner i:nth-of-type(8) {
    transform: rotate(240deg);
    opacity: 0.5625;
}

.rq-loading-spinner-spinner i:nth-of-type(9) {
    transform: rotate(270deg);
    opacity: 0.5;
}

.rq-loading-spinner-spinner i:nth-of-type(10) {
    transform: rotate(300deg);
    opacity: 0.4375;
}

.rq-loading-spinner-spinner i:nth-of-type(11) {
    transform: rotate(330deg);
    opacity: 0.375;
}

.rq-loading-spinner-spinner i:nth-of-type(12) {
    transform: rotate(360deg);
    opacity: 0.3125;
}

/* 花瓣型loading结束 */

/* 加载中结束 */

/* 旋转动画 */

@keyframes rq-rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rq-rotate{
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 旋转动画 */

.rq-col {
    float: left;
}

.rq-col-12 {
    width: 50%;
}

.rq-col-offset-12 {
    margin-left: 50%;
}
.rq-col-10 {
    width: 41.66666667%;
}

.rq-col-8 {
    width: 33.33333333%;
}

.rq-col-6 {
    width: 25%;
}

.rq-col-4 {
    width: 16.66666667%
}

.rq-col-offset-4 {
    margin-left: 16.66666667%;
}

/* cell 样式 */
.rq-cell-group {
    background-color: #fff;
}

.rq-cell {
    display: flex;
    position: relative;
    width: 100%;
    padding: 10px 16px;
    color: #323232;
    line-height: 24px;
    font-size: 14px;
    overflow: hidden;
}

.rq-cell-clickable:active {
    background-color: #f2f3f5;
}

.rq-cell-center {
    -webkit-box-align: center;
    align-items: center;
}

.rq-cell:not(:last-child):after {
    position: absolute;
    content: '';
    right: 16px;
    bottom: 0;
    left: 16px;
    pointer-events: none;
    border-bottom: 1px solid #ebedf0;
    transform: scaleY(.5);
    -webkit-transform: scaleY(.5);
}

.rq-cell-title,
.rq-cell-value {
     flex: 1;
     -webkit-flex: 1;
     -webkit-box-flex: 1;
}

.rq-cell-label {
    margin-top: 3px;
    color: #969799;
    font-size: 12px;
    line-height: 18px;
}

.rq-cell-value {
    position: relative;
    color: #969799;
    text-align: right;
    word-wrap: break-word;
    overflow: hidden;
}

.rq-cell-value-alone {
    color: #323232;
    text-align: left;
}

.rq-cell-large .rq-cell-title {
    font-size: 16px;
}
/* cell样式结束 */