* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS3去除移动端点击元素时产生的高亮背景色 */
html {
    -webkit-tap-highlight-color: transparent;
}

html,body {
    height: 100%;
    background-color: #fff;
    font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
    /* overflow: hidden; */
    -webkit-font-smoothing: antialiased;
}

button {
    outline: none;
    user-select: none;
    -webkit-appearance: none;
}

input {
    outline: none;
    border: 0;
}

input:active {
    outline: none;
}

li {
    list-style: none;
}