
.full-page-wp {
	height: 100%;
	overflow: hidden;
}
.full-page {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.page {
	line-height: 300px;
	font-size: 18px;
	color: #000;
	text-align: center;
	background-color: orange;
}