.rq-password-input {
    margin: 0 16px;
    user-select: none;
}

.rq-password-input-security {
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.rq-password-input-security li {
    position: relative;
    flex: 1;
    height: 100%;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
}

.rq-password-input-security i {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 100%;
    transform: translate(-50%,-50%);
}

.rq-password-input-info {
    margin-top: 16px;
    font-size: 14px;
    text-align: center;
    color: #969799;
}

.rq-password-input-cursor {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px;
    height: 40%;
    background-color: #323233;
    transform:translate(-50%,-50%);
    animation: 1s rq-cursor-flicker infinite;
}

.rq-password-input-security:after {
    border-radius: 6px;
}