.rq-radiolist-title {
    padding-top: 16px;
}

.rq-radio-group {
    padding: 0 16px;
}

.rq-radio-group-horizontal {
    display: flex;
    flex-wrap: wrap;
}

.rq-radio {
    display: block;
    overflow: hidden;
    margin-bottom: 8px;
}

.rq-radio-horizontal {
    margin-right: 10px;
}

.rq-radio .rq-icon-right {
    float: right;
}

.rq-label-text {
    vertical-align: middle;
    margin-left: 10px;
}

.rq-radio-input {
    display: none;
}

.rq-radio-core {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 50%;
    transition: all .2s linear;
}

.rq-radio-icon-square .rq-radio-core{
    border-radius: 0;
}

.rq-radio-core:after {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    content: '';
    transition: transform .2s,-webkit-transform .2s;
    transform: scale(0);
    -webkit-transform: scale(0);
}

.rq-radio-input:checked + .rq-radio-core {
    background-color: #26a2ff;
    border-color: #26a2ff;
}

.rq-radio-input:checked + .rq-radio-core-success {
    background-color: rgb(7, 193, 96);
    border-color: rgb(7, 193, 96);
}

.rq-radio-input[disabled] + .rq-radio-core {
    background-color: #d9d9d9;
    border-color: #ccc;
}   

.rq-radio-input:checked + .rq-radio-core:after {
    transform: scale(1);
    -webkit-transform: scale(1);
    background-color: #fff;
}

.rq-chocie-value {
    padding-left: 20px;
}